body {
    font-family: Arial, sans-serif;
    background-color: #f70000;
}

.card {
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-title {
    color: #000000;
}

.card-text {
    color: #777;
}
